In [3]:
import pandas as pd
import requests
import json
from pprint import pprint

from api_keys import geoapify_key

In [4]:
world_data_df = pd.read_csv('Datasets/world_population.csv')

world_data_df.head()

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00

In [5]:
base_url = "https://api.geoapify.com/v1/geocode/search"
params = {
    "apiKey":geoapify_key,
    "format":"json",
    "limit": 1
}



world_data_df = world_data_df.reindex(columns = world_data_df.columns.tolist() + ['geo_country'])
world_data_df

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,geo_country
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,NaN
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,NaN
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,NaN
3,213,ASM,American Samoa,Pago Pago,Oceania,44273,46189,51368,54849,58230,47818,32886,27075,199,222.4774,0.9831,0.00,NaN
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
229,226,WLF,Wallis and Futuna,Mata-Utu,Oceania,11572,11655,12182,13142,14723,13454,11315,9377,142,81.4930,0.9953,0.00,NaN
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01,NaN
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42,NaN
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25,NaN
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20,NaN

In [29]:
# params['country'] = 'American Samoa'
# current_country = requests.get(base_url, params).json()

# pprint(current_country)

{'query': {'parsed': {'country': 'American Samoa', 'expected_type': 'unknown'},
           'text': ''},
 'results': []}

In [6]:
for index, row in world_data_df.iterrows():
    params['country'] = world_data_df.loc[index, 'Country/Territory']
    current_country = requests.get(base_url, params).json()
    
    try: 
        world_data_df.loc[index, 'geo_country'] = current_country['results'][0]['country']
    except IndexError:
        print(current_country)
        world_data_df = world_data_df.drop(labels=index, axis=0)
        

world_data_df

{'results': [], 'query': {'text': '', 'parsed': {'country': 'American Samoa', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'French Guiana', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'French Polynesia', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Guadeloupe', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Guam', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Martinique', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Mayotte', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Northern Mariana Islands', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Puerto Rico', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Reunion', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Saint Pierre and Miquelon', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'United States Virgin Islands', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Vatican City', 'expected_type': 'unknown'}}}
{'results': [], 'query': {'text': '', 'parsed': {'country': 'Wallis and Futuna', 'expected_type': 'unknown'}}}

,Rank,CCA3,Country/Territory,Capital,Continent,2022 Population,2020 Population,2015 Population,2010 Population,2000 Population,1990 Population,1980 Population,1970 Population,Area (km²),Density (per km²),Growth Rate,World Population Percentage,geo_country
0,36,AFG,Afghanistan,Kabul,Asia,41128771,38972230,33753499,28189672,19542982,10694796,12486631,10752971,652230,63.0587,1.0257,0.52,Afghanistan
1,138,ALB,Albania,Tirana,Europe,2842321,2866849,2882481,2913399,3182021,3295066,2941651,2324731,28748,98.8702,0.9957,0.04,Albania
2,34,DZA,Algeria,Algiers,Africa,44903225,43451666,39543154,35856344,30774621,25518074,18739378,13795915,2381741,18.8531,1.0164,0.56,Algeria
4,203,AND,Andorra,Andorra la Vella,Europe,79824,77700,71746,71519,66097,53569,35611,19860,468,170.5641,1.0100,0.00,Andorra
5,42,AGO,Angola,Luanda,Africa,35588987,33428485,28127721,23364185,16394062,11828638,8330047,6029700,1246700,28.5466,1.0315,0.45,Angola
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
228,16,VNM,Vietnam,Hanoi,Asia,98186856,96648685,92191398,87411012,79001142,66912613,52968270,41928849,331212,296.4472,1.0074,1.23,Vietnam
230,172,ESH,Western Sahara,El Aaiún,Africa,575986,556048,491824,413296,270375,178529,116775,76371,266000,2.1654,1.0184,0.01,Western Sahara
231,46,YEM,Yemen,Sanaa,Asia,33696614,32284046,28516545,24743946,18628700,13375121,9204938,6843607,527968,63.8232,1.0217,0.42,Yemen
232,63,ZMB,Zambia,Lusaka,Africa,20017675,18927715,16248230,13792086,9891136,7686401,5720438,4281671,752612,26.5976,1.0280,0.25,Zambia
233,74,ZWE,Zimbabwe,Harare,Africa,16320537,15669666,14154937,12839771,11834676,10113893,7049926,5202918,390757,41.7665,1.0204,0.20,Zimbabwe

In [13]:
for index, row in world_data_df.iterrows():
    if world_data_df.loc[index, 'Country/Territory'] != world_data_df.loc[index, 'geo_country']:
        print(world_data_df.loc[index, 'Country/Territory'])

Bahamas
Czech Republic
DR Congo
Gambia
Hong Kong
Ivory Coast
Macau
Micronesia
New Caledonia
Palestine
Republic of the Congo
Saint Barthelemy
Saint Martin
Sao Tome and Principe
Timor-Leste