In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import requests
import json
from pprint import pprint

from api_keys import geoapify_key

ModuleNotFoundError: No module named 'api_keys'

In [3]:
education_df = pd.read_csv(r"C:\Users\juank\OneDrive\Desktop\Everything\UofT\Project_1\Project_1\Datasets\Education.csv")
education_df.head()

,BLcode,country,year,sex,agefrom,ageto,lu,lp,lpc,ls,lsc,lh,lhc,yr_sch,yr_sch_pri,yr_sch_sec,yr_sch_ter,WBcode,region_code,pop
0,1,Algeria,1950,MF,15,64,81.12,17.10,3.65,1.48,0.50,0.30,0.18,0.834,0.729,0.095,0.010,DZA,Middle East and North Africa,4858.0
1,1,Algeria,1955,MF,15,64,81.50,16.54,3.43,1.66,0.53,0.26,0.17,0.823,0.714,0.100,0.008,DZA,Middle East and North Africa,5302.0
2,1,Algeria,1960,MF,15,64,82.50,14.29,3.16,2.88,1.02,0.33,0.19,0.896,0.716,0.169,0.010,DZA,Middle East and North Africa,5658.0
3,1,Algeria,1965,MF,15,64,80.08,15.00,4.21,4.46,1.90,0.45,0.24,1.151,0.871,0.267,0.014,DZA,Middle East and North Africa,5982.0
4,1,Algeria,1970,MF,15,64,72.02,20.25,6.06,7.25,3.87,0.38,0.18,1.690,1.247,0.432,0.011,DZA,Middle East and North Africa,6531.0

In [4]:
education_df = education_df.set_index('WBcode')
education_df = education_df.drop('BLcode', axis=1)
education_df

,country,year,sex,agefrom,ageto,lu,lp,lpc,ls,lsc,lh,lhc,yr_sch,yr_sch_pri,yr_sch_sec,yr_sch_ter,region_code,pop
WBcode,,,,,,,,,,,,,,,,,,
DZA,Algeria,1950,MF,15,64,81.12,17.10,3.65,1.48,0.50,0.30,0.18,0.834,0.729,0.095,0.010,Middle East and North Africa,4858.0
DZA,Algeria,1955,MF,15,64,81.50,16.54,3.43,1.66,0.53,0.26,0.17,0.823,0.714,0.100,0.008,Middle East and North Africa,5302.0
DZA,Algeria,1960,MF,15,64,82.50,14.29,3.16,2.88,1.02,0.33,0.19,0.896,0.716,0.169,0.010,Middle East and North Africa,5658.0
DZA,Algeria,1965,MF,15,64,80.08,15.00,4.21,4.46,1.90,0.45,0.24,1.151,0.871,0.267,0.014,Middle East and North Africa,5982.0
DZA,Algeria,1970,MF,15,64,72.02,20.25,6.06,7.25,3.87,0.38,0.18,1.690,1.247,0.432,0.011,Middle East and North Africa,6531.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
UKR,Ukraine,1995,MF,15,64,1.49,6.41,5.38,62.19,44.42,29.91,18.96,10.811,5.296,4.538,0.977,Europe and Central Asia,33996.0
UKR,Ukraine,2000,MF,15,64,0.52,3.19,2.85,59.08,43.18,36.99,24.09,11.343,5.408,4.713,1.222,Europe and Central Asia,33469.0
UKR,Ukraine,2005,MF,15,64,0.29,3.82,3.56,56.51,43.04,39.38,24.63,11.518,5.415,4.823,1.280,Europe and Central Asia,32069.0
UKR,Ukraine,2010,MF,15,64,0.23,5.02,4.76,52.34,41.00,42.41,26.42,11.533,5.299,4.858,1.377,Europe and Central Asia,31091.0
UKR,Ukraine,2015,MF,15,64,0.24,6.34,6.04,49.08,39.18,44.35,27.38,11.568,5.322,4.812,1.434,Europe and Central Asia,31027.0

In [5]:
base_url = "https://api.geoapify.com/v1/geocode/search"
params = {
    "apiKey":geoapify_key,
    "format":"json",
    "limit": 1
}



education_df = education_df.reindex(columns = education_df.columns.tolist() + ['geo_country'])
education_df

NameError: name 'geoapify_key' is not defined